{% extends "cvbapp/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/roadmap.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cvb.js' %}"></script>
{% endblock %}

{% block content %}
<!-- CVBAPP Content -->
    <script>
        {% if delete_success %}
            alert('Vision deleted successfully.')
        {% endif %}
    </script>
    <div style="float:left; margin-left: 66px; width:745px;">
        <h1>Collaborative Vision Building</h1>

        <div style="border: 1px solid #0099CC; height:30px">
            <input style="border:none;height:28px;float:left;width:543px;font-size:15px;" id="searchterm" type="text" name="searchterm" placeholder="Search term...">
            <div class="dropdown" style="height:28px;background-color:#1AB3E6;float:left;">
                <div id="dropdown_selection" style="padding-top:5px;float:left;height:28px;text-align:center;width:100px;font-size:15px;color:white;font-family: verdana,sans-serif">All</div>
                <button style="float:left;width:50px; height:28px;padding:0px;" onclick="dropdown('myDropdown')" class="dropbtn cvb_button"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                <div id="myDropdown" class="dropdown-content" style="margin-top:28px;">
                    <a href="#" onclick="searchSelection(this.innerHTML)">All</a>
                    <a href="#" onclick="searchSelection(this.innerHTML)">Name</a>
                    <a href="#" onclick="searchSelection(this.innerHTML)">Description</a>
                </div>
            </div>
            <div >
                <button class="search_button cvb_button" id="session_search_button" onclick="searchSessions()"><i class="fa fa-search" aria-hidden="true"></i>
</button>
            </div>
        </div>

        <div id="searchbar" style="display:none;">
            <form id="searchform" method="get" action="{% url 'cvbapp_searchsessions' %}">
            </form>
        </div>

        <div>
            <ul id="visionsession_list" action="{% url 'cvbapp_getsessions' %}" style="list-style: none; padding-left:0px;">
                <li style="border-bottom: 1px solid #0099CC; overflow:auto">
                    <div>
                        <div id="text_div" style="float:left;">
                            <div id="name_div">
                                <b>Name of Session</b>
                            </div>
                            <div id="desc_div">
                                <i>Descripiton of Session</i>
                            </div>
                        </div>
                        <div id="button_div" style="float:right;">
                            <button class="back_button cvb_button"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </li>
            </ul>

            {% if not request.session.cvbapp_profile.nickname %}
                <style>
                    .to_session_button, .to_session_div{
                        display:none;
                    }
                </style>
            {% endif %}

        </div>

        {% if request.session.cvbapp_profile.nickname %}
            <div style="float:right;width:470px;">
                <button class="cvb_button" onclick="dropdown('create_dropdown')" style="margin-bottom:66px;float:right;height:30px;font-size:15px;text-align:center;">Create Session <i class="fa fa-plus" aria-hidden="true"></i></button>
                <div id="create_dropdown" class="dropdown-content" style="width:470px;margin-top:30px;border:1px solid #0099CC;position:absolute;float:right;padding:5px;">
                    <div id="vision_create_div" style="font-size: 13px;font-family: verdana,sans-serif">
                        <label style="float:left;clear:left;"><b>Name:</b></label>
                        <input style="width:458px;float:left;clear:left;border:1px solid #0099CC" id="session_name_input" type="text" name="session_name" placeholder="Name...">
                        <label style="float:left;clear:left;margin-top:10px;"><b>Description:</b></label><br>

                        <textarea name="session_description" rows="8" cols="60" id="session_description_input" style="margin-bottom:10px;float:left;clear:left;font-size: 13px;font-family: verdana,sans-serif;border:1px solid #0099CC;" placeholder="Description..."></textarea><br>
                        <p style="margin:0px;padding:0px; float:left;" id="charcount"><i>Remaining Characters: </i>512</p>

                        <script>
                            $('#session_description_input').on('keyup', function(event) {
                               var count = 512 - $(this).val().length;
                               if (count < 0) {
                                  $(this).val($(this).val().substring(0, 512));
                               }
                               document.getElementById("charcount").innerHTML = "<i>Remaining Characters: </i>" + (512 - $(this).val().length);
                            });
                        </script>

                        <button class="create_vision_btn cvb_button" style="clear:right;" onclick="dropdown('create_dropdown');createSession();" id="session_create_button" action="{% url 'cvbapp_createsession' %}">Create</button>
                    </div>
                </div>
            </div>
        {% else %}
            <div style="float:right;width:470px;">
                <button class="cvb_button" style="margin-bottom:66px;float:right;height:30px;font-size:15px;text-align:center;pointer-events: auto;" title="Please log in before creating a new session." disabled>Create Session <i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
        {% endif %}
    </div>
<!-- CVBAPP Content END -->
<!-- Page Menus -->
    <div style="float: left; margin-left: 66px; margin-top: 61px">
        <!-- {% include "cvbapp/online_steps.html" %} -->
        <aside id='sidebar'>
            <a href="{% static 'data/Collab_Vision_Building_Guidline.pdf' %}" target="_blank">
                <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </a>
        </aside>
    </div>
<!-- Page Menus -->
{% endblock %}