{% extends "cvbapp/base.html" %}
{% load static %}

{% block addHead %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
{% endblock %}

{% block content %}
    <div style="float:left; margin-left: 66px; width: 740px">
        <h1>About the Collaborative Vision Building Tool</h1>
        <p>This method supports reaching  a shared vision for a topic by gathering views from stakeholders through a
            structured collaborative vision building process.
            <br />
            This process encompasses the creation of a "vision building session" for collaborative vision building, the
            elicitation and gathering of input from stakeholders joining vision sessions, the proposal of a vision
            session, the discussion of the proposed vision session and the generation of a final vision statement.
            <br />
            This tool, the Collaborative Vision Building tool, facilitates this process online and provides a means to
            document what happened during the process. Facilitators of a vision building process can start a vision
            building procedure through which stakeholders can provide input and discuss proposed vision statements.
        </p>
    </div>

<!-- Page Menus -->
<div style="float: left; margin-left: 66px; margin-bottom: 66px;">
	<!-- {% include "cvbapp/online_steps.html" %} -->
    <aside id='sidebar'>
        <a href="{% static 'data/Collab_Vision_Building_Guidline.pdf' %}" target="_blank">
            <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        </a>

        <div></div>
        <a href="{% url 'cvbapp_access' %}">
            <button id="access_app_button"> Access to application <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </a>
    </aside>
</div>
<!-- Page Menus -->
{% endblock %}