{% extends "cvbapp/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/SWOT.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/appmenu.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/roadmap.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<script type="text/javascript" src="{% static 'js/SWOT.js' %}"></script>
<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/transition.js' %}"></script>
{% endblock %}

{% block content %}
    <div style="float:left; margin-left: 66px; width: 740px">
        <h1>About the Collaborative Vision Building Tool</h1>
        <p>The Collaborative Vision Building tool implements a process which users can employ in order to agree on a
        common vision or similar statement. The tool enables the person, or &quot;facilitator&quot;, who initiates a
            vision building process, or &quot;vision session&quot;, to invite other users to participate in a process
            that proceeds as follows:</p>
        <ol>
            <li>The facilitator creates a vision session and proposes a vision
                statement for a session.</li>
            <li>Participants who join the process can propose their own alternative vision statements.</li>
            <li>The facilitator publishes a revised vision statement, taking into account vision statements provided by
            other participants and schedules an online discussion session.</li>
            <li>Partners join in an online discussion session in order to reach consensus about the final vision
            statement.</li>
            <li>The facilitator summarises the session results and publishes the final vision statement.</li>
            <li>The session is completed and the participants can view and download records of all submitted materials
            as well as the content of the online discussion meeting.</li>
        </ol>
        <p>To summarise: this tool, the Collaborative Vision Building tool, facilitates this process online and provides
            a means to document what happened during the process. Facilitators of a vision building process can start
            a vision building procedure through which stakeholders can provide input and discuss proposed vision
            statements.</p>
        <p>It is important to note that this tool facilitates the process of submitting and viewing data, but that the
        task of creating vision statements in their various iterations remains solely under the control of the
        facilitator who initiates a session to build a collaborative vision.</p>
    </div>

<!-- Page Menus -->
<div style="float: left; margin-left: 66px; margin-bottom: 66px;">
	<!-- {% include "cvbapp/online_steps.html" %} -->
</div>
<!-- Page Menus -->
{% endblock %}