{% extends "cvbapp/base.html" %}
{% load static %}

{% block addHead %}
<link rel="stylesheet" type="text/css" href="{% static 'css/roadmap.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>

<script type="text/javascript" src="{% static 'js/roadmap.js' %}"></script>
{% endblock %}

{% block content %}
<!-- page content -->
<div style="float:left; margin-left: 66px; width: 740px">
	<h1>Related Documents</h1>
	<ul>
		<li><a href="https://consultation.onlines3.eu/3-1-collaborative-vision-building-35e11b19233b">Online S3 Method Description</a> - A description of the Collaborative Vision Building method, how commonly it is used, and the impact its usage has.</li>
	</ul>
</div>
<!-- page content -->

<!-- Page Menus -->
<div style="float: left; margin-left: 66px; margin-bottom: 66px;">
	{% include "cvbapp/online_steps.html" %}
</div>
<!-- Page Menus -->
{% endblock %}